{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": true,
	"useTabs": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"importFormatting": "oneline"
}